{% for host in groups['rx'] %}
{% if 'ansible_ssh_host_key_dsa_public' in hostvars[host] %}
{{ hostvars[host]['ansible_hostname'] }},{{ hostvars[host]['ansible_default_ipv4']['address'] }} ssh-dsa {{ hostvars[host]['ansible_ssh_host_key_dsa_public'] }}
{% endif %}
{% if 'ansible_ssh_host_key_rsa_public' in hostvars[host] %}
{{ hostvars[host]['ansible_hostname'] }},{{ hostvars[host]['ansible_default_ipv4']['address'] }} ssh-rsa {{ hostvars[host]['ansible_ssh_host_key_rsa_public'] }}
{% endif %}
{% if 'ansible_ssh_host_key_ecdsa_public' in hostvars[host] %}
{{ hostvars[host]['ansible_hostname'] }},{{ hostvars[host]['ansible_default_ipv4']['address'] }} ssh-ecdsa {{ hostvars[host]['ansible_ssh_host_key_ecdsa_public'] }}
{% endif %}
{% if 'ansible_ssh_host_key_ed25519_public' in hostvars[host] %}
{{ hostvars[host]['ansible_hostname'] }},{{ hostvars[host]['ansible_default_ipv4']['address'] }} ssh-ed25519 {{ hostvars[host]['ansible_ssh_host_key_ed25519_public'] }}
{% endif %}
{% endfor %}

